/*HEADER*/
.website-name {    
    color: darkblue;
    text-shadow: 1px 1px cyan;
    font-size: 60px;
}

.website-name:hover {
    text-shadow: cyan 0px 0px 0.2em, cyan 0px 0px 0.2em, cyan 0px 0px 0.2em;
}

.my-nav-tabs {
    width: 24%;
    background-color: rgb(208, 233, 255);
    color: darkblue;
    border: 1px solid transparent;
    border-color: rgb(208, 233, 255);
    border-radius: 4px;
    margin: auto 0.3%;
    font-size: 30px;
}

.my-nav-tabs:hover {    
    background-color: rgb(142, 202, 255);
}

/*Left Lane*/
.left-lane {
    float: left;
    text-align: left !important;
    padding: 1%;
    background-color: rgb(208, 233, 255);
    color: darkblue;
    border: 1px solid transparent;
    border-color: rgb(208, 233, 255);
    border-radius: 4px;
    margin: 1% 0.3%;
    width: 15%;
}

.my-left-lane-title {
    text-align: center !important;
}

.my-input-alignment {
    text-align: left !important;
    margin-right: 2% !important;
}

.my-label-alignment {    
    margin-right: 4% !important;
}

.my-button-alignment {    
   margin: auto !important;
   background-color: rgb(142, 202, 255) !important;
   border-color: rgb(142, 202, 255) !important;
   color: darkblue;
}

/*Right-Lane*/
.right-lane {
    float: right;
    text-align: left !important;
    padding: 1%;
    background-color: rgb(208, 233, 255);
    color: darkblue;
    border: 1px solid transparent;
    border-color: rgb(208, 233, 255);
    border-radius: 4px;
    margin: 1% 0.3%;
    width: 20%;
}

.my-right-lane-title {
    text-align: center !important;
}

.my-table {
    font-size: 12px;
}

.my-table td {
    padding: 1% 1% !important;
    border-right: 1px solid rgb(103, 103, 211) !important;
    border-bottom: 1px solid rgb(103, 103, 211) !important;
    background: rgb(208, 233, 255);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(160, 211, 255), rgb(208, 233, 255), rgb(160, 211, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(160, 211, 255), rgb(208, 233, 255), rgb(160, 211, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-table th {
    padding: 1% 1% !important;
    border-right: 1px solid rgb(103, 103, 211) !important;
    border-bottom: 1px solid rgb(103, 103, 211) !important;    
    border-top: 1px solid rgb(103, 103, 211) !important;
    background: rgb(172, 215, 252);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(76, 171, 253), rgb(172, 215, 252), rgb(76, 171, 253));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(76, 171, 253), rgb(172, 215, 252), rgb(76, 171, 253)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-table td.td-left, .my-table th.th-left {
    border-left: 1px solid rgb(103, 103, 211) !important;
}

.my-table td:hover {
    background: rgb(160, 211, 255);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(208, 233, 255), rgb(160, 211, 255), rgb(208, 233, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(208, 233, 255), rgb(160, 211, 255), rgb(208, 233, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-table th:hover {    
    background-color: rgb(144, 175, 202);
}

.my-table td.team-logo {
    background-repeat: no-repeat !important;
    background-size: contain !important;
}